@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-display: swap;
}
html,
body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}
/* h1,
h2,
h3,
h4,
h5 {
    font-family: 'Cabin Sketch', Arial, Helvetica, sans-serif;
    font-weight: 400;
} */
span[role='img'] {
    color: transparent;
    text-shadow: 0 0 #ec2930;
}
